<h2>Collection is on {{collectionDay}}s</h2>
<div>
    <div>Food - {{nextFoodWasteDate}}</div>
    <div>General - {{nextRefuseDate}}</div>
    <div>Recycling - {{nextRecyclingDate}}</div>
    <div>Garden - {{nextGardenWasteDate}}</div>
    <div>Textiles - {{nextTextilesElectricalsDate}}</div>
</div>